@model ChurchManager.Models.TransactionView




<div class="col-md-6">

</div>
<div class="col-md-5">
    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label" })
        @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
    </div>
</div>

<div class="col-md-6">
</div>
<div class="col-md-1">
    <div class="pull-right" style="margin-top: 23px">
        <input id="btnSplit" type="button" value="split" class="btn btn-primary" />
    </div>
</div>