@model ChurchManager.Models.TransactionView


<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label"})
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control Comment1", Name="Comment1" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="col-md-7">

    </div>

</div>
<div class="pull-right">
    <dl class="dl-horizontal">
        <dt> <label for="SplitBalance" class=" col-form-label" style="align-self:center">Balance:</label></dt>
        <dd>
            <input id="SplitBalanceDisplay" type="text" readonly class="form-control" style="width:200px" />
        </dd>

    </dl>
</div>
<table id="table_split" class="table table-bordered">
    <thead>
        <tr>
            <th>Account</th>
            <th>Fund</th>
            <th>Percent</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody id="tbody_splitBody">
        @foreach (var item in Model.Splits)
        {
            item.AccountOptions = Model.AccountOptions;
            int index = 0;
            Html.RenderPartial("_Split", item, new ViewDataDictionary { { "index", index } });
            index++;
        }
    </tbody>
</table>


<div class="row">
    <div class="col-md-12">
        <input type="button" id="btnAddSplit" class="btn btn-primary" value="Add Another Row" />
        @if (Model.Splits.Count() == 0)
        {
            <button id="btnCancel" class="btn btn-default"><i class="fa fa-ban"></i> Cancel</button>
        }

    </div>
</div>
