@model ChurchManager.Models.Split

@{ 
    if(ViewContext.FormContext == null)
    {
        ViewContext.FormContext = new FormContext();  
    }
    int i = ViewBag.Index;
}

    <tr>
        <td>
            @Html.DropDownListFor(x => x.SplitAccountId, Model.AccountOptions.GetAccounts(), "Select Account", new { @class = "form-control select SplitAccountId" })
        </td>
        <td>
                @Html.DropDownListFor(x => x.SplitAccountFundId, Model.AccountOptions.GetFunds(), "Select Fund", new { @class = "form-control select SplitAccountFundId" })
           
        </td>
        <td>
                @Html.Editor(string.Format("Splits[{0}].Percent", Model.index), new { htmlAttributes = new { @class = "form-control Percent", @onchange = "PercentChange();" } })
        </td>
        <td>
                @Html.EditorFor(X => X.SplitAmount, new { htmlAttributes = new { @class = "form-control splitLineAmount", @onchange = "splitAmountChange(this);" } })

        </td>
        <td>
            <input type="button" name="removeRow" class="removeRow" value='Delete' />
        </td>
    </tr>
<script type="text/javascript" language=javascript>

</script>

