@model ChurchManager.Models.Family

@{
    ViewBag.Title = "New Family";
}

@*<h2>Create</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("_FamilyPartial")

}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <!-- bootstrap datepicker -->
    <script src="~/AdminLTE_2_4_2/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Select2 -->
    <script src="~/AdminLTE_2_4_2/bower_components/select2/dist/js/select2.full.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            //Initialize Select2 Elements
            $('.select2').select2();
            //Date picker
            $('#WeddingDate').datepicker({
                autoclose: true
            });
        });
    </script>
}
